// Body
$body-bg: #e6e9ed;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$purple: #9615db;

$success: #00b9a2;
$warning: #f79f54;
$error: #ff4900;


$gray-1: #f5f7fa;
$gray-2: #e6e9ed;
$gray-3: #ccd1d9;
$gray-4: #aab2bd;
$gray-5: #656d78;
$gray-6: #434a54;
