<template>
    <layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <h1>Usuarios</h1>
                </el-col>
                <el-col :span="12" style="text-align: right;">
                    <el-button @click="create" type="primary">Nuevo</el-button>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-table
                :data="users"
                style="width: 100%">
                <el-table-column
                    prop="name"
                    label="Nombre">
                </el-table-column>

                <el-table-column
                    prop="username"
                    label="Usuario">
                </el-table-column>

                <el-table-column
                    label="Operaciones">
                    <template slot-scope="scope">
                        <el-button icon="fas fa-pencil-alt" type="warning" size="mini"
                                   @click="edit(scope.row)"></el-button>
                        <el-button icon="fas fa-trash" size="mini" type="danger"
                                   @click="remove(scope.row.id)"></el-button>
                    </template>
                </el-table-column>
            </el-table>

            <el-dialog :title="modalTitle" v-on:close="clearForm" :visible.sync="dialogVisible">
                <el-form :model="form" ref="form" :rules="rules">

                    <el-form-item label="Nombre" prop="name">
                        <el-input placeholder="Nombre" v-model="form.name"></el-input>
                    </el-form-item>

                    <el-form-item label="Usuario" prop="username">
                        <el-input placeholder="Usuario" v-model="form.username"></el-input>
                    </el-form-item>

                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="Rol de Usuario" prop="role_id">
                                <el-select style="width: 100%" v-model="form.role_id" placeholder="Rol de Usuario">
                                    <el-option
                                        v-for="item in roles"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">

                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <div>
                        <div @click="togglePassword" v-if="mode !== 'Nuevo Usuario'" style="text-align: right">
                            <p>Cambiar Contraseña <i style="margin-left: 5px" class="fas fa-angle-down"></i> </p>
                        </div>
                        <el-row v-if="edit_password" :gutter="20">
                            <el-col :span="12">
                                <el-form-item label="Contraseña" prop="password">
                                    <el-input type="password" show-password placeholder="Contraseña" v-model="form.password"></el-input>
                                </el-form-item>
                            </el-col>
                            <el-col :span="12">
                                <el-form-item label="Verificar Contraseña" prop="password_confirmation">
                                    <el-input type="password" show-password placeholder="Verificar Contraseña" v-model="form.password_confirmation"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </div>



                    <div style="text-align: center; padding-top: 10px">
                        <el-button :loading="loading" type="primary" @click="submit()">Guardar</el-button>
                    </div>
                </el-form>
            </el-dialog>

        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    import _ from 'lodash';

    export default {
        components: {
            Layout,
        },
        data() {

            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('La contraseña del usuario es requerida'));
                } else {
                    if (this.form.password_confirmation !== '') {
                        this.$refs.form.validateField('password_confirmation');
                    }
                    callback();
                }
            };

            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('Debe verificar la contraseña.'));
                } else if (value !== this.form.password) {
                    callback(new Error('Las contraseñas no conciden.'));
                } else {
                    callback();
                }
            };

            return {
                baseUrl: '/users',
                users: [],
                roles: [],
                mode: '',
                loading: false,
                dialogVisible: false,
                edit_password: true,
                form: {
                    name: '',
                    username: '',
                    role_id: '',
                    password: '',
                    password_confirmation: ''
                },
                rules: {
                    name: {required: true, message: 'El nombre del usuario es requerido.'},
                    username: {required: true, message: 'El username del usuario es requerido.'},
                    role_id: {required: true, message: 'El role del usuario es requerido.'},
                    password: [
                        {validator: validatePass},
                        {required: true, message: 'La contraseña del usuario es requerida'},
                        {min: 6, max: 10, message: 'La contra del ususario debe tener entre 6 y 10 letras'}
                    ],
                    password_confirmation: [
                        {validator: validatePass2},
                        {required: true, message: 'El nombre de la marca es requerido.'},
                        {min: 6, max: 10, message: 'La verificacion debe tener entre 6 y 10 letras'}
                    ],
                },
            }
        },
        computed: {
            modalTitle() {
                return `${this.mode}`;
            },
        },
        methods: {
            togglePassword() {
                this.edit_password = !this.edit_password;
            },
            clearForm() {
                this.$refs.form.resetFields();
            },
            create() {
                this.mode = 'Nuevo Usuario';
                this.edit_password = true;
                this.dialogVisible = true;
            },
            edit(item) {
                this.mode = 'Editar ' + item.name;
                this.form = _.cloneDeep(item);
                this.edit_password = false;
                this.dialogVisible = true;
            },
            submit() {
                this.$refs.form.validate(() => {
                    if (!this.form.id) {
                        if (this.form.password === this.form.password_confirmation){


                            this.loading = true;

                            this.$inertia.post(this.baseUrl, {
                                name: this.form.name,
                                username: this.form.username,
                                role_id: this.form.role_id,
                                password: this.form.password
                            }).then(
                                () => {
                                    this.users = this.$page.users;
                                    this.$message({
                                        type: 'success',
                                        message: 'Creado correctamente.'
                                    });
                                    this.loading = false;
                                    this.dialogVisible = false;
                                })

                        }

                    } else {
                        if (this.form.password === this.form.password_confirmation) {

                            this.loading = true;

                            this.$inertia.put(this.baseUrl + '/' + this.form.id, {
                                name: this.form.name,
                                username: this.form.username,
                                role_id: this.form.role_id,
                                password: this.form.password,
                            }).then(
                                () => {
                                    this.users = this.$page.users;
                                    this.$message({
                                        type: 'success',
                                        message: 'Guardado correctamente.'
                                    });
                                    this.loading = false;
                                    this.dialogVisible = false;
                                })
                        }
                    }
                });
            },
            remove($id) {
                this.$confirm('Esta seguro que quiere eliminar a esta Marca?', 'Advertencia', {
                    confirmButtonText: 'OK',
                    cancelButtonText: 'Cancelar',
                    cancelButtonClass: 'el-button--info',
                    type: 'warning'
                }).then(() => {
                    this.$inertia.delete(this.baseUrl + '/' + $id);
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: 'Eliminar cancelado'
                    });
                });
            },
        },
        mounted() {
            if (this.$page.users) {
                this.users = this.$page.users;
            }
            if (this.$page.roles) {
                this.roles = this.$page.roles;
            }
        }
    }
</script>
