<template>
    <layout>
        <div>
            <el-row>
                <el-col :span="12">
                    <h1>Editar Producto</h1>
                </el-col>
            </el-row>

            <el-divider></el-divider>

            <el-card>
                <el-form :model="form" ref="form" :rules="rules">
                    <el-row :gutter="20">
                        <el-col :span="12">
                            <el-form-item label="Nombre del producto" prop="name">
                                <el-input placeholder="Nombre del producto" v-model="form.name"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="12">
                            <el-form-item label="Descripcion" prop="description">
                                <el-input placeholder="Descripcion" v-model="form.description"></el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <el-row :gutter="20">
                        <el-col :span="6">
                            <el-form-item label="Categorias" prop="categories">
                                <el-select style="width: 100%" v-model="form.categories" multiple
                                           placeholder="Categorias">
                                    <el-option
                                        v-for="item in categories"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="Marca" prop="brand_id">
                                <el-select style="width: 100%" v-model="form.brand_id" placeholder="Marca">
                                    <el-option
                                        v-for="item in brands"
                                        :key="item.id"
                                        :label="item.name"
                                        :value="item.id">
                                    </el-option>
                                </el-select>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="Modelo" prop="model">
                                <el-input placeholder="Modelo" v-model="form.model"></el-input>
                            </el-form-item>
                        </el-col>
                        <el-col :span="6">
                            <el-form-item label="Precio" prop="price">
                                <el-input placeholder="Precio" type="number" v-model="form.price">
                                    <template slot="prepend">$</template>
                                </el-input>
                            </el-form-item>
                        </el-col>
                    </el-row>

                    <div style="text-align: center">
                        <el-upload
                            class="avatar-uploader"
                            action="/api/product/upload-image"
                            :show-file-list="false"
                            :on-success="handleAvatarSuccess"
                            :before-upload="beforeAvatarUpload">

                            <img v-if="form.image" :src="'/' + form.image" class="avatar">
                            <img v-else-if="form.imageUrl" :src="form.imageUrl" class="avatar">

                            <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                        </el-upload>
                    </div>

                    <div style="text-align: center; padding-top: 10px">
                        <el-button :loading="loading" type="primary" @click="submit()">Guardar</el-button>
                    </div>
                </el-form>
            </el-card>

        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";

    export default {
        components: {
            Layout,
        },
        data() {
            return {
                baseUrl: '/product',
                product: {},
                categories: [],
                brands: [],
                loading: false,
                form: {},
                rules: {
                    name: {required: true, message: 'El nombre del producto es requerido.'},
                    description: {required: true, message: 'La descripcion del producto es requerido.'},
                    brand_id: {required: true, message: 'La marca del producto es requerido.'},
                    categories: {required: true, message: 'La categoria del producto es requerido.'},
                    model: {required: true, message: 'El modelo del producto es requerido.'},
                    price: {required: true, message: 'El precio del producto es requerido.'},
                },
            }
        },
        methods: {
            handleAvatarSuccess(res, file) {
                this.form.image = file.raw;
                this.form.imageUrl = URL.createObjectURL(file.raw);
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('Avatar picture must be JPG format!');
                }
                if (!isLt2M) {
                    this.$message.error('Avatar picture size can not exceed 2MB!');
                }
                return isJPG && isLt2M;
            },
            submit() {
                this.$refs.form.validate((valid) => {
                    if (valid) {
                        let data = new FormData();
                        data.append('name', this.form.name);
                        data.append('description', this.form.description);
                        data.append('brand_id', this.form.brand_id);
                        data.append('model', this.form.model);
                        data.append('price', this.form.price);
                        data.append('image', this.form.image);

                        for (var i = 0; i < this.form.categories.length; i++) {
                            data.append('categories[]', this.form.categories[i]);
                        }

                        this.loading = true;
                        this.$inertia.post(this.baseUrl + '/' + this.form.id, data)
                            .then(
                                () => {
                                    this.$message({
                                        type: 'success',
                                        message: 'Guardado correctamente.'
                                    });
                                    this.loading = false;
                                })
                    }
                });
            },
        },
        mounted() {
            if (this.$page.product) {
                this.form = this.$page.product;
                this.form.categories = this.form.categories.map(({id}) => id);

                if (this.$page.product.image) {
                    this.form.imageUrl = this.$page.product.image;
                }
            }
            if (this.$page.categories) {
                this.categories = this.$page.categories;
            }
            if (this.$page.brands) {
                this.brands = this.$page.brands;
            }
        }
    }
</script>


