<template>
    <el-container style="height: 100%">
        <el-header>
            <inertia-link href="/">
                <span style="font-size: 40px" class="page-title">Innova</span>
            </inertia-link>


            <el-row class="fa-pull-right">
                <el-dropdown trigger="click">

                    <avatar :username="name" :size="40" background-color="#9615db" color="#ca8aec"></avatar>

                    <el-dropdown-menu slot="dropdown">
                        <a href="/logout">
                            <el-dropdown-item>Salir</el-dropdown-item>
                        </a>
                        <a href="/cart">
                            <el-dropdown-item>Carrito de compra</el-dropdown-item>
                        </a>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-row>
        </el-header>
        <el-header style="height: 3px; background-color: #9615db"></el-header>

        <el-menu v-if="role === 1" mode="horizontal" background-color="#545c64" text-color="#fff" active-text-color="#ca8aec">
            <el-menu-item index="1"><a href="/brands">Marcas</a></el-menu-item>
            <el-menu-item index="2"><a href="/product">Productos</a></el-menu-item>
            <el-menu-item index="3"><a href="/categories">Categorias</a></el-menu-item>
            <el-menu-item index="4"><a href="/users">Usuarios</a></el-menu-item>
        </el-menu>

        <el-container>
            <el-main>
                <slot></slot>
            </el-main>
        </el-container>
    </el-container>

</template>
<script>
    import Avatar from 'vue-avatar';

    export default {
        name: 'layout',
        components: {
            Avatar
        },
        data() {
            return {
                menuItems: [],
                name: '',
                role: '',
            }
        },
        methods: { },
        mounted() {
            if (this.$page.prop.auth.user) {
                this.name = this.$page.prop.auth.user.name;
                this.role = this.$page.prop.auth.user.role_id;
            }
        }
    }
</script>
