<template>
    <layout>
        <div>
            <h2>Mi Carrito</h2>

            <el-table
                :data="products"
                style="width: 100%">
                <el-table-column
                    label="Producto">
                    <template slot-scope="scope">
                        <span style="font-weight: bold; color: #9615db">{{scope.row.brand.name}}</span>
                        {{' - ' + scope.row.name + ' - ' + scope.row.description}}
                    </template>
                </el-table-column>
            </el-table>

            <el-row style="margin-top: 15px; text-aling: right">
                <el-button type="success" @click="checkout">Checkout</el-button>
            </el-row>
        </div>
    </layout>
</template>
<script>
    import Layout from "../../Shared/Layout";
    export default {
        components: {
            Layout
        },
        data() {
            return {
                cart: {},
                products: []

            }
        },
        methods: {
            checkout() {
                this.$message({
                    type: 'success',
                    message: 'A pagar'
                })
            }
        },
        mounted() {
            if (this.$page.cart) {
                this.cart = this.$page.cart;
                this.products = this.$page.cart.products;
            }
        }

    }
</script>
